# Smart PID Core Engine — environment configuration
SPID_JWT_SECRET=Ls3xGWWO9dnTQDImHingBF6bTDsWDNzTRgfxd_PwxPc
SPID_LOG_LEVEL=INFO
SPID_OPCUA_ENDPOINT=opc.tcp://localhost:4848
SPID_API_PORT=8000
SPID_API_HOST=0.0.0.0
SPID_ZMQ_PUBLISH_PORT=5555
SPID_SIMULATOR_ENABLED=true
SPID_SIMULATOR_PORT=4849
